/* Блокировка встроенного reveal-икона браузера для паролей */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}
input[type="password"]::-webkit-credentials-auto-fill-button {
  visibility: hidden;
  pointer-events: none;
}
input[type="password"]::-webkit-input-decoration {
  display: none;
}
